.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 3px 5px #c3c0c1;
  background: #fff;
}

.header .navigations {
  display: flex;
}

.header .navigations .nav {
  display: block;
  padding: 15px 12px;
  text-decoration: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
}

.header .navigations .nav:hover {
  background: rgb(238 223 223);
  color: rgba(0, 0, 0, 0.7);
  transition: background 0.3s;
}
