@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Poppins;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  text-align: left;
}
