* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url(./Poppins/Poppins-Light.ttf);
}

body {
  font-family: Poppins;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

/* common class */
.mt-35 {
  margin-top: 35px;
}

.vertical-align-middle {
  vertical-align: middle;
}

/* container */
.container {
  margin: 0 auto;
  width: 1024px;
}

@media screen and (min-width: 2280px) {
  .container {
    margin: 0 auto;
    width: 2100px;
  }
}

/* header-left */
.header-left {
  display: inline-block;
  width: 70%;
}

/* header logo */
.header-logo {
  display: inline-block;
}

/* header list */
.header-list {
  display: inline-block;
}

.header-list ol {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding-left: 30px;
}

.header-list li {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  padding-left: 30px;
  font-weight: 500px;
}

.header-list ol li:hover {
  text-decoration: underline;
}

/* header-right */
.header-right {
  display: inline-block;
  width: calc(30% - 5px);
  text-align: right;
}

.header-price {
  display: inline-block;
  text-align: right;
  padding-right: 60px;
}

.header-price h5 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400px;
}

.header-price p {
  font-weight: 400px;
  color: #B7B7B7;
}

.header-button {
  display: inline-block;

}

.header-button button {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500px;
  padding: 15px 55px;
  border-radius: 77px;
  background: #050505;
  color: #fff;
  cursor: pointer;
  border: 2px solid #050505;
  transition: background 0.3s;
}

.header-button button:hover {
  background: transparent;
  color: #050505;
  transition: background 0.3s;

}

/* banner */
.banner {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.094) 100%), #050505;
  color: white;
  border-radius: 36px;
  position: relative;
  overflow: hidden;
}

/* banner content */
.banner-content {
  position: absolute;
  top: 20%;
  left: 40%;
  text-align: center;
}

.banner-content h3 {
  font-size: 144px;
  line-height: 140px;
  margin-top: 75px;
}

.banner-content p {
  font-size: 36px;
  line-height: 45px;
  font-weight: 500px;
}

/* banner buttom */
.banner-button {
  position: absolute;
  bottom: 32%;
  left: 46%;
  background-color: rgb(67 65 65 / 8%);
  border-radius: 55px;
  padding: 40px;
  backdrop-filter: blur(16px);
  cursor: pointer;

}

.banner-button i {
  font-size: 50px;
  vertical-align: middle;
  margin: 10px;
}

.banner-button button {
  font-size: 28px;
  line-height: 35px;
  font-weight: 300px;
  text-align: center;
  background-color: rgba(37, 37, 37, 0.08);
  border: none;
  color: #fff;
}

/* banner image */
.banner-image {
  margin-top: 30%;
}

/*


























*/

