.fs-25 {
  font-size: 25px;
}

.mt-10 {
  margin-top: 10px;
}

.box {
  border: 3px solid #000;
  text-align: center;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.my-website {
  margin-top: 25px;
  margin-bottom: 25px;
}

.slider {
  display: inline-block;
  width: calc(75% - 10px);
  vertical-align: top;
  margin-top: 10px;
  line-height: 200px;
}
.space {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 6px;
height: 206px;
}
.image-parent {
  display: inline-block;
  width: 25%;
}
.image {
  display: block;
  margin-top: 10px;
  line-height: 150px;
}
.text {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 8px);
  line-height: 300px;
  text-align: center;
}
.banner-ad {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  width: 25%;
  line-height: 200px;
}
.footer {
  margin-top: 10px;
}
.images{
  display: block;
  width: 100%;
  border-radius: 50px 50px;
}
